# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
.eggs/

# Environment variables
.env
.env.*

# Database
*.db

# Flask instance folder
instance/

# ADS data files
data/

# AI models
ai_models/

# Tailwind
tailwindcss.exe
static/src/output.css

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
